<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.0.7022.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="F075E54EFD17C1E4F6680B5C99F9A2EC81CB09E7F7489D9F1B24885E0A836C84A6AE62F81DC99DC9D0A70977594563BD6E401B9A3B930E93ADE3EE97262F22D8" decryptionKey="410EBB6D5460809668203BE7F431596C71D8608BC16DB15564F5D5D8103D61ED" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="0AFA0F258A0BFE6AE6D4042029E84ACE8CA323F62C590FF480CF2CDE85E8A7AB" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="0AFA0F258A0BFE6AE6D4042029E84ACE8CA323F62C590FF480CF2CDE85E8A7AB" realm="http://localhost" />
	</relyingParties>
</securityConfig>